// ***** Variables ********
$base-bg: #3a4272;
$base-bg-dark: darken($base-bg, 35%);
$base-bg-light: lighten($base-bg, 25%);

$main-bg-color: #f5f5f5;
$shade-light: #f9f9f9;
$anchorhover-color: #b03c3c;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: $main-bg-color;
}

header {
   height: 140px;
   background-color: $base-bg;
   display: flex;
   justify-content: space-between;
   align-items: center;
   & h1 {
      font-size: 4.2rem;
      color: #fff;
      margin-left: 50px;
      user-select: none;
   }
   & ul {
      margin-right: 50px;
      display: flex;
      & li + li {
         margin-left: 35px;
      }
      & a {
         display: block;
         color: #fff;
         padding: 10px 15px;
         border: 1px solid $shade-light;
         border-radius: 0.4rem;
         font-size: 1.2rem;
         user-select: none;
         transition-property: background-color, border-radius;
         transition-duration: 0.4s 0.8s;
      }
      & a:hover {
         background-color: $anchorhover-color;
         border-radius: 1rem;
      }
   }
}
