/* ===================== */
/*       VARIABLES       */
/* ===================== */

$white: #fff;
$mid-grey: #777;
$viking: #58e1c1;
$malibu: #51ddfc;
$emerald: #63cc82;
$purple-mount: #927bc1;
$coral: #fd7856;
$french-lilac: #deb2ee;
$silver: #ccc;
/* ====================== */
/*    BUTTONS VARIABLES   */
/* ====================== */

$buttons: (
   "default": #51ddfc,
   "success": #63cc81,
   "error": #e4747a,
   "warning": #fd7856,
   "info": #917bc1,
);

/* ====================== */
/*  FONT VARIABLES  */
/* ====================== */

$fnt-stack-lato: "Lato", sans-serif;
$fnt-w3: 300;
$fnt-w7: 700;

/* ====================== */
/*    IMAGE VARIABLES     */
/* ====================== */

$grey-light: #ccc;

/* ========================= */
/* MEDIA QUERIES BREAKPOINTS */
/* ========================= */

$break-sm: 768px;
$break-lg: 1024px;
